.popup button {
  margin-top: auto;
  align-self: flex-end;
  height: 40px;
  width: 108px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1a2024;
  color: #ffff;
  font-size: 14px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* display: flex;
  flex-direction: column; */
}

/* The actual popup */
.popup .popuptext {
  /* visibility: hidden; */
  /* width: 160px; */
  display: none;
  padding: 10px 30px;
  background-color: white;
  /* color: #fff; */
  text-align: center;
  border-radius: 12px;
  /* border-radius: 6px; */
  /* padding: 8px 0; */
  position: absolute;
  z-index: 1;
  /* bottom: -160%; */
  left: 50%;
  bottom: -85px;
  margin-left: -85px;
  box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px;
}


.popup:hover .popuptext {
  /* visibility: visible; */
  display: block;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -12%;
  transform: rotate(180deg);
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup .is-user-exist {
  display: none;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Model */

.modal {
  padding: 20px;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 10px;
  /* border: solid 1px #ecf0f4; */
  background-color: #fafafa;
}

/* The Close Button */
.close {
  z-index: 10;
  /* top: 25px; */
  right: 25px;
  position: absolute;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* header and footer css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* width */

.container {
  width: 100%;
}

.component {
  position: relative;
  padding: 0px 40px;
  max-width: 1600px;
  margin: auto;
  margin-bottom: 20px;
}

.main-container {
  width: 100%;
  margin: auto;
}

#header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

/* section {
  border: 1px solid !important;
} */

#nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
}

#nav {
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.left-nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  width: 70%;
  height: 60px;
  font-size: 14px;
}

.left-nav img {
  width: 100px;
  margin-left: -50px;
  margin-right: 50px;
}

.left-nav a {
  text-decoration: none;
  color: #090a0a;
}

.right-nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  gap: 20px;
  width: 30%;
  height: 60px;
}

.right-nav input {
  text-align: center;
  width: 40%;
  height: auto;
  margin-left: 45px;
  height: 30px;
  border-radius: 2em;
}

.right-nav img {
  height: 30px;
  width: auto;
}

.right-nav i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: x-large;
  width: auto;
}

/* footer section */


#footer {
  background: #e7f0f5;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#footer {
  padding: 20px;
  background-color: #f0f0f0;
}

#footer img {
  padding-left: 50px;
  padding-top: 30px;
}

#footer h2 {
  margin-left: 30px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  margin-bottom: 5px;
}

.banner-boat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-section img {
  max-width: 100%;
  height: auto;
}

.input-section h2 {
  margin: 10px 0;
}

.input-section input {
  height: 50px;
  width: 250px;
  margin-left: 48px;
  margin-top: 10px;
  padding: 8px;
  padding-left: 5px;
  border: solid 1px #e1e6eb;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}

.itemlist {
 display: grid;
 grid-template-columns: repeat(3,1fr);
  margin-right: auto;
  margin-left: auto;
}

.itemlist .itemlist-1 {
  padding: 0px 40px;
}

.itemlist .itemlist-2 {
  padding: 0px 40px;
}

.itemlist .itemlist-3 {
  padding: 0px 40px;
}

.itemlist>div {
  flex: 1;
}

.itemlist h4 {
  margin-bottom: 10px;
}

.itemlist ul {
  list-style-type: none;
  padding: 0;
}

.itemlist li {
  margin-bottom: 5px;
}

#social-media {
  margin-top: 40px;
}

.icons {
  background: #e7f0f5;
  height: 231px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.icons .logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.logos span {
  font-size: 16px;
  font-weight: normal;
  color: #090a0a;
  text-align: center;
}

.logos a {
  padding-top: 18px;
  text-decoration: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  height: 55px;
  width: auto;
}

.Policy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  font-size: 14px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #a7afb7;
}

.address {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: #a7afb7;
}

