* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 100%;
  border: 1px solid;
}

.component {
  padding: 0px 40px;
  max-width: 1600px;
  margin: auto;
  margin-bottom: 20px;
}

.main-container {
  border: 1px solid;
  width: 100%;
  /* max-width: 1600px; */

  margin: auto;

  /* @media (max-width: 480px)  {
    
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 15px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
   
  } */
  /* @media (min-width: 1025px) and (max-width:  */
}

section {
  border: 1px solid !important;
}

#header {

}

#nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  max-width: 1600px;
  margin: auto;
}

#nav {
  width: 100%; /* Take up the full width of the viewport */
  background-color: white; /* Optional: Add a background color */
  z-index: 1000; /* Ensure it's above other content */
}

.left-nav {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  width: 70%;
  height: 60px;
}
.left-nav a {
  text-decoration: none;
  color: #090a0a;
}

.left-nav img {
  height: 50px;
}

.right-nav {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  gap: 20px;
  width: 30%;
  height: 60px;
}

.right-nav input {
  text-align: center;
  width: 40%;
  height: auto;
  margin-left: 45px;
  height: 30px;
  border-radius: 2em;
}

.right-nav img {
  height: 30px;
  width: auto;
}

.right-nav i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: x-large;
  width: auto;
}

#mid img {
  padding-top: 10px;
}
.desk {
  /* border: 2px solid blue; */
  width: 100%;
}

/* #categories {
  border: 2px solid aqua;
} */
.category-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.category-text h3 {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.category-text span {
  color: #1a2024;
  font-size: 25px;
  text-align: left;
  margin-bottom: 12px;
}

.shop-categories {
  /* border: 2px solid red; */
  margin: 0px auto;

  overflow-x: auto;
  display: flex;
  gap: 28px;
}
/* .shop-categories div img{
  height: 82px;
  width: 82px;
} */
#shop-categories .categories-banner img,
#rcb-banner .banner-container img {
  margin: 0px auto;

  overflow-x: auto;
  display: flex;
}



#rcb-banner > img {
  width: 100%;
}

.RCB h3 span.start {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.RCB h3 span.separator {
  margin: 0 5px;

  color: #090d0f;
  font-size: 25px;
  font-style: bold;
}

.RCB h3 span.button-container {
  margin-left: auto;
}

.RCB h3 span.button-container p {
  float: right;
  padding-top: 8px;
  color: #2f5b96;
  font-size: 15px;
  font-weight: bold;
}

.images {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.images img {
  height: 322px;
  width: 322px;
  border-radius: 2%;
}

.images div h5 {
  padding-top: 3px;
  font-size: 15px;
  margin-left: 43px;
  justify-content: center;
  text-align: center;
  background-color: #fcc50b;
  color: black;
  height: 23px;
  width: 240px;
  border-radius: 5%;
}

.images div h3 {
  font-size: 18px;
  font-style: bold;
}

#num {
  margin-top: 5px;
  display: flex;
  gap: 5px;
  /* border: 2px solid blue; */
  text-align: center;
  align-items: center;
}

#num .original-price {
  /* border: 2px solid blue; */
  font-size: 18px;
  font-weight: 550;
  text-align: center;
}

#num .discounted-price {
  /* border: 2px solid blue; */
  text-decoration: line-through;
  text-align: center;
  font-size: 15px;
}

#num .offer {
  font-size: 12px;
  font-weight: bold;
  color: #12b985;
}

.container {
  display: flex;
  flex-direction: column;
  /* Make it a column layout */
}

.container button {
  margin-top: auto;
  /* Push button to the bottom */
  align-self: flex-end;
  /* Align button to the end of the flex container */
  height: 40px;
  width: 108px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1a2024;
  color: #ffff;
  font-size: 14px;
}

#products {
  margin-top: 15px;
 
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4,1fr);

}

#products img {
  /* display: flex; */
  /* gap: 20px; */
  height: 322px;
  width: 322px;
  border-radius: 2%;
}
#products div{
  position: relative;
}
#products div h5 {
  position: absolute;
  bottom: 95px;
  padding-top: 3px;
  font-size: 15px;
 
  justify-content: center;
  text-align: center;
  background-color: #fcc50b;
  color: black;
 padding: 5px 10px;
  left: 80px;
  border-radius: 5%;
}

#products div h3 {
  font-size: 18px;
  font-style: bold;
}

#num {
  margin-top: 5px;
  display: flex;
  gap: 5px;
  /* border: 2px solid blue; */
  text-align: center;
  align-items: center;
}

#num .original-price {
  /* border: 2px solid blue; */
  font-size: 18px;
  font-weight: 550;
  text-align: center;
}

#num .discounted-price {
  /* border: 2px solid blue; */
  text-decoration: line-through;
  text-align: center;
  font-size: 15px;
}

#num .offer {
  font-size: 12px;
  font-weight: bold;
  color: #12b985;
}

.container {
  display: flex;
  flex-direction: column;
  /* Make it a column layout */
}

.container button {
  margin-top: auto;
  /* Push button to the bottom */
  align-self: flex-end;
  /* Align button to the end of the flex container */
  height: 40px;
  width: 108px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1a2024;
  color: #ffff;
  font-size: 14px;
}

#services {
  /* border: 2px solid red; */
  margin-top: 15px;
  padding: 7px 3px;
  font-size: 20px;
  gap: 75px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#services img {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 140px;
  width: 120px;
}

#ambassdors {
  margin-top: 55px;
  padding-top: 65px;
  font-size: 25px;
}

#ambassdors span {
  margin-top: 55px;
  font-size: 25px;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 23px;
}

.brands > div {
  flex: 1;
}

.brands div img {
  display: flex;
  width: 100%;
}

#text {
  /* border: 2px solid red; */
  background: #eff4f7;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 1.5rem 0 1rem;
}

#text .logo p {
  padding-top: 15px;
  color: #2f5b96;
  font-size: 18px;
  font-weight: bold;
}

#text .logo p i {
  color: #2f5b96;
  font-size: 18px;
  font-weight: bold;
}

.large-text {
  font-size: 48px;
  /* Adjust size as needed */
}

.black {
  color: black;
}

.light-color {
  color: #d3d3d3;
  /* Light grey, adjust as needed */
}

#press {
  margin-top: 40px;
}

#press span {
  font-size: 24px;
}

#press b {
  font-size: 24px;
  color: #1a2024;
}
/* 
#ads {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#ads .img {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #e7f0f5;
  height: 280px;
  width: 520px;
}

#ads .para {
  background: #e7f0f5;
  font-size: 24px;
  color: #666666;
  border: 2px solid red;
  background: #eff4f7;
  background: transparent;
}

.para .black {
  border: 2px solid red;
  height: 19px;
  width: 33px;
  font-size: xx-large;
  
} */

#container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.first-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.press-container {
  display: flex;
}
.press-container > div:nth-child(1) {

  flex: 1;
}
.press-container > div:nth-child(2) {

  flex: 1.5;
  background-color: #f7f9fa;
  
}

.press-container > div:nth-child(1) {
  background-color: #d0d9de;
  display: grid;
}

.press-container > div:nth-child(1) > img {
  margin: auto;
}

.symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer {
  background: #e7f0f5;
  margin-top: 40px;
}
#footer {
  padding: 20px;
  background-color: #f0f0f0;
}

#footer img {
  /* border: 2px solid red; */
  padding-left: 50px;
  padding-top: 30px;
}
#footer h2 {
  /* border: 2px solid red; */
  padding-left: 50px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  margin-bottom: 5px;
}

.banner-boat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-section img {
  max-width: 100%;
  height: auto;
}

.input-section h2 {
  margin: 10px 0;
}

.input-section input {
  height: 50px;
  width: 250px;
  margin-left: 48px;
  margin-top: 10px;
  padding: 8px;
  padding-left: 5px;
  border: solid 1px #e1e6eb;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}
.itemlist {
  display: flex;
  gap: 110px; /* Adjusts the spacing between the item lists */
  margin-right: auto; /* Push the itemlist to the left */
  margin-left: auto;
}
.itemlist .itemlist-1 {
  padding: 0px 40px;
}

.itemlist .itemlist-2 {
  padding: 0px 40px;
}

.itemlist .itemlist-3 {
  padding: 0px 40px;
}
.itemlist > div {
  flex: 1;
}

.itemlist h4 {
  margin-bottom: 10px;
}

.itemlist ul {
  list-style-type: none;
  padding: 0;
}

.itemlist li {
  margin-bottom: 5px;
}
#social-media {
  margin-top: 40px;
}
.icons {
  /* border: 2px solid red; */
  background: #e7f0f5;
  height: 231px;
  margin: auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.icons .logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.logos span {
  font-size: 16px;
  font-weight: normal;
  color: #090a0a;
  text-align: center;
}
.logos a {
  padding-top: 18px;
  text-decoration: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  height: 55px;
  width: auto;
}
.Policy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  font-size: 14px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #a7afb7;
}
.address {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: #a7afb7;
}

/* Default styles (Mobile-first approach) */

/* Small Mobile Devices */
@media (max-width: 480px) {
}

/* Larger Mobile Devices */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Laptops */
/* @media (min-width: 1025px) and (max-width:  */
