* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 100%;
}

.component {
  position: relative;
  padding: 0px 40px;
  max-width: 1600px;
  margin: auto;
  margin-bottom: 20px;
}

.main-container {
  width: 100%;
  margin: auto;
}

/* section {
  border: 1px solid !important;
} */

#nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
}

#nav {
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.left-nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  width: 70%;
  height: 60px;
}
.left-nav a {
  text-decoration: none;
  color: #090a0a;
}
.right-nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  gap: 20px;
  width: 30%;
  height: 60px;
}

.right-nav input {
  text-align: center;
  width: 40%;
  height: auto;
  margin-left: 45px;
  height: 30px;
  border-radius: 2em;
}

.right-nav img {
  height: 30px;
  width: auto;
}

.right-nav i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: x-large;
  width: auto;
}

#mid img {
  padding-top: 10px;
}
.desk {
  width: 100%;
}

.category-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.category-text h3 {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.category-text span {
  color: #1a2024;
  font-size: 25px;
  text-align: left;
  margin-bottom: 12px;
}

.shop-categories {
  margin: 0px auto;
  /* overflow-x: auto; */
  display: flex;
  gap: 28px;
}
#shop-categories .categories-banner img,
#rcb-banner .banner-container img {
  margin: 0px auto;
  /* overflow-x: auto; */
  display: flex;
}

#rcb-banner > img {
  width: 100%;
}

.RCB h3 span.start {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.RCB h3 span.separator {
  margin: 0 5px;
  color: #090d0f;
  font-size: 25px;
  font-style: bold;
}

.RCB h3 span.button-container {
  margin-left: auto;
}

.RCB h3 span.button-container p {
  float: right;
  padding-top: 8px;
  color: #2f5b96;
  font-size: 15px;
  font-weight: bold;
}

.images {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.images img {
  border-radius: 2%;
}

.images div h5 {
  padding-top: 3px;
  font-size: 15px;
  margin-left: 43px;
  justify-content: center;
  text-align: center;
  background-color: #fcc50b;
  color: black;
  height: 23px;
  width: 240px;
  border-radius: 5%;
}

.images div h3 {
  font-size: 18px;
  font-style: bold;
}

#num {
  margin-top: 5px;
  display: flex;
  gap: 5px;
  text-align: center;
  align-items: center;
}

#num .original-price {
  font-size: 18px;
  font-weight: 550;
  text-align: center;
}

#num .discounted-price {
  text-decoration: line-through;
  text-align: center;
  font-size: 15px;
}

#num .offer {
  font-size: 12px;
  font-weight: bold;
  color: #12b985;
}

.container {
  display: flex;
  flex-direction: column;
}

.container button {
  margin-top: auto;
  align-self: flex-end;
  height: 40px;
  width: 108px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1a2024;
  color: #ffff;
  font-size: 14px;
}

#main-container {
  position: relative;
  margin-top: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  padding: 10px;
}

.sub-container {
  padding: 0px;
}

.information-container {
  background-color: #fafafa;
  padding: 10px 12px;
  border: 1px solid #ecf0f4;
  border-radius: 0 0 10px 10px;
  line-height: normal;
  max-width: unset;
  margin: 0;
}

.image img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.p-name {
  position: relative;
}
.p-name a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 700 !important;
}

.prices {
  margin-top: 10px;
}

.ratings {
  margin-top: 10px;
}

.cart-btn {
  margin-top: 10px;
}

.cart-btn button {
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.p-name span {
  justify-content: center;
  text-align: center;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  border: 1px solid white;
  border-radius: 10px !important;
  padding: 6px 10px !important;
  font-size: 12px;
  font-weight: 700;
  background: #fcc50b;
  color: #000;
}
.prices {
  display: flex;
  gap: 5px;
  align-items: baseline;
  text-align: center;
}
.prices .discounted-price {
  font-size: 18px;
  font-weight: 700 !important;
}
.prices .original-price {
  text-decoration: line-through;
  color: #b2b9bf;
  letter-spacing: -0.48px;
  font-size: 12px;
}
.prices .offer {
  font-size: 12px;
  font-weight: bold;
  color: #12b985;
}
.cart-btn {
  display: flex;
  justify-content: flex-end;
}
.cart-btn button {
  width: fit-content;
  background: #1a2024;
  border: 1px solid #1a2024;
  padding: 10px;
  border-radius: 10px !important;
  color: #fff;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.info {
  position: relative;
}
.cart-btn button {
  position: absolute;
  top: 92px;
  text-align: center;
}

#services {
  margin-top: 15px;
  padding: 7px 3px;
  font-size: 20px;
  gap: 75px;
  display: flex;
  justify-content: center;
}

#services img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 140px;
  width: 120px;
}

#ambassdors {
  margin-top: 55px;
  padding-top: 65px;
  font-size: 25px;
}

#ambassdors span {
  margin-top: 55px;
  font-size: 25px;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 23px;
}

.brands > div {
  flex: 1;
}

.brands div img {
  display: flex;
  width: 100%;
}

#text {
  background: #eff4f7;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 1.5rem 0 1rem;
}

#text .logo p {
  padding-top: 15px;
  color: #2f5b96;
  font-size: 18px;
  font-weight: bold;
}

#text .logo p i {
  color: #2f5b96;
  font-size: 18px;
  font-weight: bold;
}

.large-text {
  font-size: 48px;
}

.black {
  color: black;
}

.light-color {
  color: #d3d3d3;
}

#press {
  padding-left: 24px;
  padding-right: 24px;
}
#press .press-container {
  height: 280px;
}

#press h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
#press .press-container .para {
  text-align: center;
  padding: 10px;
}
#press .press-container .quotes {
  text-align: center;
}
#press b {
  font-size: 24px;
  color: #1a2024;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.first-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.press-container {
  display: flex;
}
.press-container > div:nth-child(1) {
  flex: 1;
}
.press-container > div:nth-child(2) {
  flex: 1.5;
  background-color: #f7f9fa;
}

.press-container > div:nth-child(1) {
  background-color: #d0d9de;
  display: grid;
}

.press-container > div:nth-child(1) > img {
  margin: auto;
}
.para p {
  font-size: 24px;
  line-height: 36px;
}
.symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer {
  background: #e7f0f5;
  margin-top: 40px;
}
#footer {
  padding: 20px;
  background-color: #f0f0f0;
}

#footer img {
  padding-left: 50px;
  padding-top: 30px;
}
#footer h2 {
  padding-left: 50px;
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  margin-bottom: 5px;
}

.banner-boat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-section img {
  max-width: 100%;
  height: auto;
}

.input-section h2 {
  margin: 10px 0;
}

.input-section input {
  height: 50px;
  width: 250px;
  margin-left: 48px;
  margin-top: 10px;
  padding: 8px;
  padding-left: 5px;
  border: solid 1px #e1e6eb;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}
.itemlist {
  display: flex;
  gap: 110px;
  margin-right: auto;
  margin-left: auto;
}
.itemlist .itemlist-1 {
  padding: 0px 40px;
}

.itemlist .itemlist-2 {
  padding: 0px 40px;
}

.itemlist .itemlist-3 {
  padding: 0px 40px;
}
.itemlist > div {
  flex: 1;
}

.itemlist h4 {
  margin-bottom: 10px;
}

.itemlist ul {
  list-style-type: none;
  padding: 0;
}

.itemlist li {
  margin-bottom: 5px;
}
#social-media {
  margin-top: 40px;
}
.icons {
  background: #e7f0f5;
  height: 231px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.icons .logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.logos span {
  font-size: 16px;
  font-weight: normal;
  color: #090a0a;
  text-align: center;
}
.logos a {
  padding-top: 18px;
  text-decoration: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  height: 55px;
  width: auto;
}
.Policy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  font-size: 14px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #a7afb7;
}
.address {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: #a7afb7;
}

/* Default styles (Mobile-first approach) */

/* Small Mobile Devices */
@media (max-width: 480px) {
}

/* Larger Mobile Devices */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Laptops */
/* @media (min-width: 1025px) and (max-width:  */
