* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  padding: 10px;
  padding-top: 15px;
  border: 2px solid red;
  height: 500px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#container input {
  width: 60%;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
