* {
  font-family: "Poppins";
}

#main {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#signup-container,
#login-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  max-height: 95vh;
  z-index: 9;
  /* border-radius: 10px;
  border: solid 1px #ecf0f4; */
  background-color: #fafafa;
}

#signup-container {
  display: none;
}

.otp-login-head {
  margin-bottom: 6px;
  text-align: center;
}

.otp-login-head h2 {
  /* border: 2px solid red; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.otp-number {
  margin: 25px 0 0;
  padding: 25px 83px 10px 84px;
  border-radius: 10px;
  background-color: #eff4f7;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information input {
  width: 374px;
  /* display: flex; */
  /* gap: 10px; */
  border-radius: 10px;
  border: solid 1px #e4eaea;
  background-color: #fcfdff;
  padding: 10px 18px;
}

.send-otp {
  margin-top: 30px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send-otp button {
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 10px !important;
  height: 50px;
  width: 195px;
  background: #d0d9de;
  padding: 0 52px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 1px;
}

.otp-condition {
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #878787;
  margin: 20px 5px;
  letter-spacing: 0.15px;
}

.otp-condition button {
  text-decoration: underline;
  color: blue;
  border: none;
  cursor: pointer;
}
